.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkcards-area {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin: 20px 0;
}

.link-cards {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  background-color: rgb(224, 224, 224);
}

@media screen and (max-width: 927px) {
  .linkcards-area {
    flex-direction: column;
  }
  .link-cards {
    margin: 20px 0;
  }
}
.item-pic {
  margin: 0 10px;
}
